<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/olety/Dropbox/pow3/Year1.2/algo/Lab/my_labs/projects/3/lab3.xcodeproj</string>
</dict>
</plist>
